nav.menu
    ul.flexnav
        li
            a(href="index.html") Accueil
        li Maison médicale
            ul
                li
                    a(href="#") Maison médicale au forfait
                li
                    a(href="#") Services et équipe
        li Fonctionnement
            ul
                li
                    a(href="#") Inscription
                li
                    a(href="#") Désinscription
        li
            a(href="#") Service de garde
        li
            a(href="#") Fiches pratiques
        li
            a(href="#") Liens
        li
            a(href="#") Contact

