.DS_STORE
/node_modules
/.idea
/design
/build
/.gulp
wordpress/*
!wordpress/wp-content/
wordpress/wp-content/*
!wordpress/wp-content/themes/
wordpress/wp-content/themes/*
!wordpress/wp-content/themes/csiangleur/
/npm-debug.log
/wordpress/wp-content/themes/csiangleur/assets/images.safecopy
/-$
/source/scripts/jquery.flexnav.js
