/* My css import
 *
 * Main stylesheet
 * by Jimmy Letecheur
 */

// Settings
@import "settings/colors";
@import "settings/fonts";

// Tools
@import "tools/mixins.styl"

// Generic
@import "generic/reset_meyer"
@import "generic/reset_flexbox"


// Base
@import "base/base.styl"


// Objects


// images


// Components
@import "components/nav.styl"
@import "components/home.styl"
@import "components/footer.styl"
@import "components/maisonmedicaleauforfait.styl"
@import "components/breadcrumb.styl"
@import "components/bandeau.styl"
@import "components/servicesetequipes.styl"
@import "components/inscription-desinscription.styl"
@import "components/garde.styl"
@import "components/liens.styl"
@import "components/contact.styl"


// Trumps
// --- nothing here (yet)
