visuallyhidden = @block{
    border: 0;
    height: 0px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
}

titleSection = @block{
  font bold 1.5em oxygenfonts // 30px
  letter-spacing 1px
}

paragraphSection = @block{
  font-size: 0.9em // 18px
  letter-spacing 0.1px
  line-height: 1.6
  margin-bottom 1.111em // 20px
}

wrapSection = @block {
  max-width 40em // 800px
  margin: 0 auto
}

button-style = @block{
  font-weight 100
  color color-white
  display inline-block
  padding 0.400em 2.150em // 8px 43px
  border-radius 400px
  background-color color-pink
  transition background .3s ease
}

button-style-hover = @block{
  background-color color-pink + 10%
  transition background .3s ease
}
