visuallyhidden = @block{
    border: 0;
    height: 0px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
}

button-style = @block{
  font-weight 100
  color color-white
  display inline-block
  padding 0.400em 2.150em // 8px 43px
  border-radius 400px
  background-color color-pink
  transition background .3s ease
}

button-style-hover = @block{
  background-color color-pink + 10%
  transition background .3s ease
}
