html *
  font-size 20px
  font-family sourcesansprofonts
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing antialiased
  -moz-osx-font-smoothing: grayscale
  color color-black
  line-height: 1.4
  /*background-image url("../images/grid.png")
  background-repeat repeat-y
  background-position center center
  background-size 1140px
  opacity 0.90*/

a
  text-decoration none
  color inherit


form input
  appearance none
  border 0
  outline none
