// Style for MailChimp
mc4wp-form-1
  .mc4wp-alert p
    font-size: 0.8em // 16px
    margin-top: .5em
    letter-spacing .3px
  .mc4wp-success p
    color color-success
  .mc4wp-error p
    color color-error
mc4wp-form-2
  .mc4wp-alert p
    font-size: 0.8em // 16px
    margin-top: .5em
    letter-spacing .3px
  .mc4wp-success p
  .mc4wp-error p
    color color-white

// Style for load more
div.alm-reveal
  display flex
  justify-content space-between

// Contact form 7
span.wpcf7-not-valid-tip
  position: relative
  top -21px
  color color-error
  font-size .75em;

span.textarea-358 .wpcf7-not-valid-tip
  top -3px

div.wpcf7-response-output
  font-size 15px
  margin 10px 0 0 0
  padding 0
  color color-error
div.wpcf7-mail-sent-ng
  border none
div.wpcf7-mail-sent-ok
  color color-success
  border 0
div.wpcf7-validation-errors
  border 0
