// Style for MailChimp
mc4wp-form-1
  .mc4wp-alert p
    font-size: 0.8em // 16px
    margin-top: .5em
    letter-spacing .3px
  .mc4wp-success p
    color color-success
  .mc4wp-error p
    color color-error
mc4wp-form-2
  .mc4wp-alert p
    font-size: 0.8em // 16px
    margin-top: .5em
    letter-spacing .3px
  .mc4wp-success p
  .mc4wp-error p
    color color-white

// Style for load more
div.alm-reveal
  display flex
  justify-content space-between
