/* colors style
* by Jimmy Letecheur
*/

color-black = #414141
color-white = #FFF
color-darkblue = #2670B1
color-lightblue = #2883D2
color-greybackground = #F6F6F6
color-greenblue = #46B6A6
color-lightgrey = #737373

color-success = #138913
color-error = #C10A0A
