/* colors style
* by Jimmy Letecheur
*/

color-black = #383838
color-white = #FFF
color-background = #F5F5F5
color-grey-v2 = #4F4F4F
color-pink = #D85E72
color-grey-text = #6C6C6C
color-text-paragraph-manifeste = #171717