.home
  &__title
    {visuallyhidden}
  .intro
    height 28.15em
    background-image url("../images/homeheader@2x.jpg")
    background-repeat no-repeat
    background-position center center
    background-size cover
    text-align: center
    &__logo
      display: block
      padding-top 3.5em // 70px
      & svg
        display: block
        margin: 0 auto
    &__title
      display: block
      font-family: oxygenfonts
      color color-white
      font-weight: bold
      font-size 2em // 40px
      letter-spacing 1.33px
      margin-top 0.500em // 20px
      margin-bottom 0.625em // 25px
    &__paragraph
      max-width: 27.750em // 555px
      margin: 0 auto
      font-family oxygenfonts
      font-size 1em
      color color-white
      letter-spacing 0.3px
      line-height: 1.6
    &__button
      display inline-block
      color color-white
      font-size 0.900em // 18px
      letter-spacing .5px
      background-color color-darkblue
      padding 0.444em 2.944em // 8px 53px
      border-radius 2px
      margin-top 3.889em // 70px
      transition .3s background-color ease
      &:hover
      &:focus
        background-color color-lightblue
        transition .3s background-color ease

// Image arrondie pour grands ecrans
@media screen and (min-width: 1441px)
  .home
    .intro
      background: url('../images/homeheaderLarge.jpg');
      background-size 563px cover

// Services de qualités
.home
  .services
    margin 5em 0 3.5em 0
    text-align: center
    &__title
      display: block
      text-align: center
      font bold 1em oxygenfonts
      letter-spacing 0.89px
      text-transform: uppercase
    &__wrap
      max-width 48em // 960px
      margin: 3.250em auto 2.250em auto // 65px 45px
      text-align: center
      display flex
      justify-content space-between
    &__item
      max-width 15.25em // 305px
      padding 30px 10px 80px 10px
      background-color lightgrey
      background-size cover
      &__title
        margin 33px 10px 22px 10px
        font bold 0.900em oxygenfonts // 18px
        letter-spacing 1.07px
        text-transform: uppercase
        & b
          color color-darkblue
          letter-spacing 1.07px
      &__paragraph
        line-height: 1.6
    &__item:nth-child(1)
      background url("../images/home_psycho.jpg") no-repeat center center
    &__item:nth-child(2)
      background url("../images/home_medecine.jpg") no-repeat center center
    &__item:nth-child(3)
      background url("../images/home_infirmier.jpg") no-repeat center center
    &__button
      display: inline-block
      font bold 0.900em oxygenfonts
      color color-white
      background-color color-darkblue
      padding 20px 88px
      border-radius 2px
      letter-spacing 0.8px
      transition .3s background-color ease
      &:hover
      &:focus
        transition .3s background-color ease
        background-color color-lightblue

/************************************\
  ANIMATIONS SERVICES
\************************************/
#heartline
  animation 9s linear 2s infinite heartline


@keyframes heartline{
  0%{
    stroke-dasharray: 146;
    stroke-dashoffset: 438;
  }
  15%{
    stroke-dasharray: 146;
    stroke-dashoffset: 300;
  }
  50%{
    stroke-dasharray: 146;
    stroke-dashoffset: 300;
  }
  65%{
    stroke-dasharray: 146;
    stroke-dashoffset: 188;
  }
  100% {
    stroke-dasharray: 146;
    stroke-dashoffset: 188;
  }
}

#gear1
  transform-origin 33px 29px
  animation 10s linear infinite gear1

#gear2
  transform-origin 40px 42px
  animation 10s linear infinite gear2

@keyframes gear1{
  0%{
    transform: rotate(0deg);
  }
  20%{
    transform: rotate(180deg)
  }
  40%{
    transform rotate(180deg)
  }
  60%{
    transform rotate(0deg)
  }
  100%{
    transform rotate(0deg)
  }

}

@keyframes gear2{
  0%{
    transform: rotate(0deg);
  }
  20%{
    transform: rotate(-180deg);
  }
  40%{
    transform rotate(-180deg)
  }
  60%{
    transform rotate(0deg)
  }
  100%{
    transform rotate(0deg)
  }
}


#thermo{
  transform-origin 50% 50%
  animation 8s ease-in infinite thermo
}

@keyframes thermo{
  0%{
    transform: scaleY(0);
  }
  20%{
    transform: scaleY(18);
  }
  40%{
    transform: scaleY(18);
  }

  60%{
    transform: scaleY(0);
  }

  100%{
    transform: scaleY(0);
  }
}

/************************************\
  FICHES PRATIQUE ET HORAIRES
\************************************/

.medecine
  position: relative
  background-color: color-greybackground
  padding 5em 1em 2em 1em // 40px 20px
  margin-top 180px
  &:before
    content ""
    display block
    background-color color-greybackground
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transform: skewY(2.5deg);
    transform-origin: 100% 0;
    bottom: -26%;
    z-index -1

  &__wrap
    max-width 48em // 960px
    margin 0 auto
    display flex
    justify-content space-between
  &__wrapright
    max-width 24em // 480px
  &__title
    font bold 2em oxygenfonts
    letter-spacing 1.08px
    line-height: 1.5
    margin-bottom 1em
  &__fiches
    &__title
      font normal 1em oxygenfonts
      letter-spacing 0.54px
    &__link
      font normal 0.8em oxygenfonts // 16px
      transition .3s color ease
      &:hover
      &:focus
        color color-lightblue
        transition .3s color ease
    &__link:before
      content "\e904"
      margin 0 10px 0 0
      position: relative
      top 5px
      font-family icons
      display inline-block
      color color-greenblue
      font-size: 1.5em
  &__horaires
    max-width 16em // 320px
    background-color color-white
    border-radius 2px
    padding 1.5em // 30px
    &__title
      display: block
      font bold 1em oxygenfonts
      letter-spacing 0.54px
      line-height 1.5
      margin-bottom 1.250em // 25px
    &__item
      display: flex
      justify-content space-between
      margin-bottom 0.650em // 13px
    &__day
      font-size 0.800em // 16px
      letter-spacing 0.43px
    &__hour
      color color-darkblue
      font-family sourcesansprofonts
      font-weight: 700
      font-size: 0.8em // 16px
    &__garde
      font 100 0.8em sourcesansprofonts
      margin-bottom 2.500em // 40px
      & a
        font-size: 1em
        color color-darkblue
        font-weight: bold
        transition .3s color ease
        &:hover
        &:focus
          color color-lightblue
          transition .3s color ease
    &__button
      display: inline-block
      width 100%
      text-align: center
      background-color color-darkblue
      color color-white
      font bold 0.8em oxygenfonts // 16px
      letter-spacing 0.48px
      border-radius 2px
      padding 0.625em // 10px
      transition .3s background-color ease
      &:hover
      &:focus
        background-color color-lightblue
        transition .3s background-color ease


