.maisonmedicaleauforfait
  &__title
    {visuallyhidden}
  & .bandeau
    background-image url("../images/bandeau_maisonmedicaleauforfait.jpg")
  & .forfait,
  & .philo
    background linear-gradient(-180deg, #FFFFFF 20%, #F6F6F6 50%)
    padding 5em 1em
    &__wrap
      max-width 40em // 800px
      margin: 0 auto
      & p
        font-size: 0.9em // 18px
        letter-spacing 0.1px
        line-height: 1.6
        margin-bottom 1.111em // 20px
    &__title
      margin-bottom 1.167em // 35px
      text-align: center
      font bold 1.5em oxygenfonts // 30px
      letter-spacing 1px
    &__paragraph
    & p
      font-size: 0.9em // 18px
      letter-spacing 0.1px
      line-height: 1.6
      margin-bottom 1.111em // 20px
      & a
        font-weight:bold;
        color color-darkblue
        font-size: 1em
        transition .3s color ease
        &:hover
        &:focus
          color color-lightblue
          transition .3s color ease
      & strong,
      & b
        font-size: 1em
        font-weight: bold
        text-decoration: underline
    &__subtitle
      display: block
      font bold 1.300em oxygenfonts // 26px
      letter-spacing 0.87px
      margin-bottom 0.577em // 15px
      margin-top 2em // 35px
    &__cards
      display flex
      justify-content space-between
      margin 2.5em 0
    &__card
      max-width 11.500em // 224px
      padding 1em 1em // 20px 25px
      background-color #F1F1F1
      text-align: center
      border-radius 2px
      & span
        display: block
        margin-bottom 0.750em // 15px
        font bold 1em oxygenfonts
        letter-spacing 0.4px
      & strong
        color color-darkblue
        font-family oxygenfonts
      & p
        color color-lightgrey
        font-size 16px
        margin-bottom: 0
        letter-spacing 0
      & a
        font-size: 1em
        font-weight: bold
        color color-darkblue
        transition .3s color ease
        &:hover
        &:focus
          color color-lightblue
          transition .3s color ease

@media screen and (max-width: 754px)
  .maisonmedicaleauforfait
    & .forfait
      &__cards
        flex-direction column
      &__card
        max-width none
        width 100%
        margin 0 auto 1em auto
        padding 2em 1em
