.servicesequipe
  &__title
    {visuallyhidden}
  .bandeau
    background-image url("../images/bandeau_servicesequipe.jpg")
  .content-top
    background-image linear-gradient(-180deg, #FFFFFF 23%, #F6F6F6 50%);
  .titlehead
    text-align: center
    &__subtitle
      display block
      margin-top 5em // 100px
      font normal 1em oxygenfonts // 20px
      color color-lightgrey
      letter-spacing 0.65px
    &__title
      display block
      font bold 1.5em oxygenfonts // 30px
      letter-spacing 1px
      line-height 1.2
      margin-bottom 4.5em // 90px
  .content
    padding 0 1em
    &__wrap
      {wrapSection}
    &__info
      &-title
        display flex
        align-items center
        & img
          margin-right 1em // 20px
        & h2
          font normal 1.5em oxygenfonts // 30px
          line-height 1
      &-horaire
        margin-left 3.9em
        &__title
          font-size 0.7em // 14px
        &__wrap
          & td
            font-size 0.7em // 14px
            color color-lightgrey
            padding-right 30px
          & td:last-child
            color color-darkblue
    &__description
      margin 1.5em 0 2em 0 // 30px 40px
      & p
        {paragraphSection}

