doctype html
html(lang='fr')
    head
        title Notre statut - Espace P…
        include template/_meta.pug
    body.no-js.no-main.statut
        header.header
            div.header__wrap-title
                h1.header__title(aria-level="1") Notre statut - Espace P…
            include template/_header
        div.site-content
            main





                include template/_footer
                include template/_scripts

