doctype html
html(lang='fr')
    head
        title Centre de Santé intégré d’Angleur
        include template/_meta.pug
    body.no-js.home
        header.header
            include template/_menu
            h1.header__title(aria-level="1") Centre de Santé intégré d’Angleur
        div.site-content
            main





        include template/_footer
        include template/_scripts


