doctype html
html(lang='fr')
    head
        title Maison médicale au forfait - Centre de Santé intégré d’Angleur
        include template/_meta.pug
    body.no-js.maisonmedicaleauforfait
        h1.maisonmedicaleauforfait__title Maison médicale au forfait
        header.header
            include template/_menu
        div.bandeau
            span.bandeau__title Maison médicale au forfait
            ol.breadcrumb(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
                li.breadcrumb__link(itemprop='title')
                    a.breadcrumb__link__text(itemprop='link', href='index.html', title='Aller vers l’accueil') Accueil &nbsp;/&nbsp;
                li.breadcrumb__link(itemprop='title')
                    a.breadcrumb__link__text(itemprop='link', href='#') Maison médicale au forfait
        main
            section.forfait
                div.forfait__wrap
                    h2.forfait__title Le Centre de Santé intégré d’Angleur
                    p.forfait__paragraph
                        | L’ASBL Maison Médicale Centre de Santé Intégré Angleur (CSI Angleur) a vu le jour en 2016. Elle est composée de tous les travailleurs qui le souhaitent et de membres extérieurs.
                    p.forfait__paragraph
                        | Actuellement, l’équipe pluridisciplinaire de travailleurs se compose de deux médecins généralistes, d’un infirmier et d’une accueillante/employée administrative.

                    img(src="https://dummyimage.com/798x293/d8d8d8/1e1e1f.jpg&text=Photo+de+la+maison" alt="Photo de la maison médicale d’Angleur" width="798" height="293")


                    span.forfait__subtitle Une maison médicale, c’est quoi ?
                    p.forfait__paragraph Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles
                    p.forfait__paragraph Plusieurs variations de Lorem Ipsum peuvent être trouvées ici ou là, mais la majeure partie d'entre elles a été altérée par l'addition d'humour ou de mots aléatoires qui ne ressemblent pas une seconde à du texte standard. Si vous voulez utiliser un passage du Lorem Ipsum, vous devez être sûr qu'il n'y a rien d'embarrassant caché dans le texte.

                    div.forfait__cards
                        div.forfait__card
                            span
                                | C’est
                                strong  gratuit
                                |  ?
                            p
                                | Pas vraiment, mais vous ne devez pas payer à chaque fois que vous avez besoins de soins.
                        div.forfait__card
                            span
                                | Le
                                strong  forfait
                                |  ?
                            p
                                | C’est un contrat entre vous, votre mutualité et la maison médicale avec des droits et devoirs pour chacun.
                        div.forfait__card
                            span
                                | Une
                                strong  inscription
                                |  ?
                            p
                                | Pour profiter des services de la maison médicale, il est nécessaire de
                                a(href="inscription.html")  s’inscrire
                                |  au préalable.


                    span.forfait__subtitle Nous fonctionons en autogestion
                    p.forfait__paragraph
                        | Cela signifie qu’il n’y a pas de hiérarchie, la gestion de la maison médicale est assurée par les membres de l’Assemblée générale de l’ASBL.

                    span.forfait__subtitle Nous sommes rémunérés grâce au forfait
                    p.forfait__paragraph
                        | Suite à un accord conclu par notre maison médicale avec l’INAMI et les mutuelles, ces dernières nous versent chaque mois et pour chaque patient inscrit un forfait couvrant les soins médicaux et infirmiers dispensés par l’équipe du CSI Angleur.
                    p.forfait__paragraph
                        | Ce forfait est fixe, il ne dépend donc pas du nombre de fois que les patients se présentent à la maison médicale. Grâce à ce système, nos patients ne doivent rien débourser quand ils sont soignés par un prestataire de soins de la maison médicale. Cela permet à tout un chacun de bénéficier de soins de qualité. Cela implique également que nos patients s’engagent à rester en ordre de mutuelle (cotisations à l’assurance obligatoire – AO).
                    p.forfait__paragraph
                        strong Attention&nbsp;:
                        |  Une fois qu’un patient s’est inscrit chez nous, sa mutuelle ne lui remboursera plus les prestations effectuées par un médecin généraliste et/ou un infirmier extérieur au CSI Angleur sauf
                        a(href="garde.html")  en cas d’urgence
                        | .
                    p.forfait__paragraph
                        | En revanche, les consultations chez les médecins spécialistes (pédiatre, gynécologue, ORL,…), les soins dentaires, les examens médicaux (radiographie, prise de sang,…) et autres prestations qui ne sont pas du ressort de la maison médicale sont remboursées par la mutuelle comme auparavant.

            section.philo
                div.philo__wrap
                    h2.philo__title Notre philosophie de travail
                    p.philo__paragraph
                        | Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen.
                    span.philo__subtitle Des soins accessible à tous
                    p.philo__paragraph
                        | Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.
                    span.philo__subtitle Ceci est un faux sous-titre
                    p.philo__paragraph
                        | Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.
