doctype html
html(lang='fr')
    head
        title Maison médicale au forfait - Centre de Santé intégré d’Angleur
        include template/_meta.pug
    body.no-js.maisonmedicaleauforfait
        h1.maisonmedicaleauforfait__title Maison médicale au forfait
        header.header
            include template/_menu
        div.bandeau
            span.bandeau__title Maison médicale au forfait
            ol.breadcrumb(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
                li.breadcrumb__link(itemprop='title')
                    a.breadcrumb__link__text(itemprop='link', href='index.html', title='Aller vers l’accueil') Accueil &nbsp;/&nbsp;
                li.breadcrumb__link(itemprop='title')
                    a.breadcrumb__link__text(itemprop='link', href='#') Maison médicale au forfait
        main
            section.forfait
                div.forfait__wrap
                    h2.forfait__title Une maison médicale au forfait, c’est quoi ?
                    p.forfait__paragraph
                        | Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                    div.forfait__cards
                        div.forfait__card
                            span
                                | C’est
                                strong  gratuit
                                |  ?
                            p
                                | Pas vraiment, mais vous ne devez pas payer à chaque fois que vous avez besoins de soins.
                        div.forfait__card
                            span
                                | Le
                                strong  forfait
                                |  ?
                            p
                                | C’est un contrat entre vous, votre mutualité et la maison médicale avec des droits et devoirs pour chacun.
                        div.forfait__card
                            span
                                | Une
                                strong  inscription
                                |  ?
                            p
                                | Pour profiter des services de la maison médicale, il est nécessaire de
                                a(href="#")  s’inscrire
                                |  au préalable.

                    p.forfait__paragraph
                        | Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen.
                    img(src="https://dummyimage.com/798x293/d8d8d8/1e1e1f.jpg&text=Photo+de+la+maison" alt="Photo de la maison médicale d’Angleur" width="798" height="293")
            section.philo
                div.philo__wrap
                    h2.philo__title Notre philosophie de travail
                    p.philo__paragraph
                        | Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen.
                    span.philo__subtitle Des soins accessible à tous
                    p.philo__paragraph
                        | Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.
                    span.philo__subtitle Ceci est un faux sous-titre
                    p.philo__paragraph
                        | Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.
